[Unit]
Description=Webhook
After=network.target

[Service]
User=<username>
Group=<username>
WorkingDirectory=/home/<username>/website
ExecStart=/usr/bin/webhook -hooks /home/<username>/website/hooks.json -verbose

# Restart policies
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
