{{ define "index" }}
<div class="readable-width-wrapper">
{{ if .Blogs }}
<div class="content-list">
    <h2>Blogs</h2>
    <ul>
        {{ range .Blogs }}
        <li><a href="/blog/{{.}}" hx-get="/blog/{{.}}" hx-target="#content" hx-push-url="true">{{ . }}</a></li>
        {{ else }}
        <li>No blog posts yet.</li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ if .Wikis }}
<div class="content-list">
    <h2>Wikis</h2>
    <ul>
        {{ range .Wikis }}
        <li><a href="/wiki/{{.}}" hx-get="/wiki/{{.}}" hx-target="#content" hx-push-url="true">{{ . }}</a></li>
        {{ else }}
        <li>No wiki pages yet.</li>
        {{ end }}
    </ul>
</div>
{{ end }}
</div>
{{ end }}
