{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="body-container">
            <nav class="sidebar">
                <ul>
                    <li><a href="/" hx-get="/" hx-target="#content" hx-push-url="true">Home</a></li>
                    <li><a href="/blog" hx-get="/blog" hx-target="#content" hx-push-url="true">Blog</a></li>
                    <li><a href="/wiki" hx-get="/wiki" hx-target="#content" hx-push-url="true">Wiki</a></li>
                </ul>
            </nav>
            <main id="content" hx-swap="innerHTML transition:true">
                {{ if .Content }}
                    {{ template "content" . }}
                {{ else if or .Blogs .Wikis }}
                    {{ template "index" . }}
                {{ else }}
                    {{ template "home" . }}
                {{ end }}
            </main>
        </div>
    </div>
</body>
</html>
{{ end }}
