{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {{ if .Title }}
    {{ .Title }} |
    {{ end }}
    My Website</title>
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ end }}
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js" defer></script>
    <script src="/static/js/copy-code.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="/" hx-get="/" hx-target="#content" hx-push-url="true">Home</a>
                <a href="/blog" hx-get="/blog" hx-target="#content" hx-push-url="true">Blog</a>
                <a href="/wiki" hx-get="/wiki" hx-target="#content" hx-push-url="true">Wiki</a>
            </nav>
        </header>
        <main id="content" hx-swap="innerHTML transition:true">
            {{ if .Content }}
                {{ template "content" . }}
            {{ else if or .Blogs .Wikis }}
                {{ template "index" . }}
            {{ else }}
                {{ template "home" . }}
            {{ end }}
        </main>
    </div>
</body>
</html>
{{ end }}
